<div class="body">
    <div id="wrapper">
        <div class="content-wrapper">
            <div class="container-fluid">

                <h1 class="h3 mb-2 text-gray-800">Quản lý phản hồi hệ thống</h1>
                <p class="mb-4">"DPhản hồi từ sinh viên và giảng viên giúp cải thiện và phát triển hệ thống."</p>
                <div class="card shadow">
                    <div class="card-header">
                        <h6 class="card-heading">Bảng phản hồi đóng góp ý kến</h6>
                    </div>
                    <div class="card-body">
                        <table class="table" id="dataTable">
                            <thead>
                                <tr>
                                    <th style="width: 5%;">STT</th>
                                    <th style="width: 10%;">Mã số</th>
                                    <th style="width: 15%;">Họ tên</th>
                                    <th style="width: 30%;">Nội dung phản hồi</th>
                                    <th style="width: 15%;">Thao tác</th>
                                    <th style="width: 25%;">Tiếp nhận thông tin</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let fb of feedbacks; let i = index">
                                    <td>{{ i + 1 }}</td>
                                    <td>{{ fb.student.numberStudent }}</td>
                                    <td>{{ fb.student.name }}</td>
                                    <td>{{ fb.note }}</td>
                                    <td>
                                        <div *ngIf="fb.status == 1;">
                                            Trả lời
                                            <a class="btn btn-danger btn-sm" (click)="deleteFeedback(fb)" style="margin-left: 5px;">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </div>
                                        <div *ngIf="fb.status == 0;">
                                            <a class="btn btn-primary btn-sm" data-toggle="modal"
                                                data-target="#newtopic">
                                                <i class="fas fa-plus" style="margin-right: 10px;"></i> Xử lý
                                            </a>
                                            <a class="btn btn-danger btn-sm" (click)="deleteFeedback(fb)" style="margin-left: 5px;">
                                                <i class="fas fa-trash"></i> Xóa
                                            </a>

                                            <!-- form xử lý phản hòi  -->
                                            <div class="modal fade" id="newtopic" tabindex="-1"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <form [formGroup]="form">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Nhập nội
                                                                    dung xử lý phản hồi</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <input type="text" name="reply" id="reply"
                                                                    class="input11" formControlName="reply"
                                                                    placeholder="Nhập nội dung...">

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">Đóng</button>
                                                                <button type="button" class="btn btn-primary"
                                                                    data-dismiss="modal"
                                                                    (click)="replyFeedback(fb.id)">Đồng ý</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                    <td> {{ fb.reply}} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</div>