<div class="body" id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Quản lý kết quả báo cáo sinh viên</h1>
                <p class="mb-4">"Danh sách kết quả nhận xét đánh giá kết quá sinh viên và giảng viên"</p>


                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Thông tin kết quả sinh viên</h6>
                        <!-- <button class="add-topic-button"><i class="fas fa-plus" style="margin-right: 10px;"></i>Thêm đề
                            tài mới</button> -->
                    </div>
                    <div class="button-container">
                        <button class="blue-button" (click)="exportMarkPdf()">
                            <i class="fas fa-file-export"></i> File pdf
                        </button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã sinh viên</th>
                                        <th>Họ và tên sinh viên</th>
                                        <th>Giảng viên chấm</th>
                                        <th>Ngày chấm</th>
                                        <th>Hình thức</th>
                                        <th>Tóm tắt</th>
                                        <th>Giới thiệu</th>
                                        <th>Mô tả</th>
                                        <th>Thiết kế</th>
                                        <th>Kiểm thử</th>
                                        <th>Kết luận</th>
                                        <th>Trình bày</th>
                                        <th>Trả lời</th>
                                        <th>Điểm tổng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  *ngFor="let m of allMark; let i = index">
                                        <td>{{ i + 1 }}</td>
                                        <td>{{ m.student.numberStudent }}</td>
                                        <td>{{ m.student.name}}</td>
                                        <td>{{ m.teacher.name }}</td>
                                        <td>{{ m.sendDate }}</td>
                                        <td>{{ m.mark11 }}</td>
                                        <td>{{ m.mark12 }}</td>
                                        <td>{{ m.mark13 }}</td>
                                        <td>{{ m.mark14 }}</td>
                                        <td>{{ m.mark15 }}</td>
                                        <td>{{ m.mark2 }}</td>
                                        <td>{{ m.mark21 }}</td>
                                        <td>{{ m.mark22 }}</td>
                                        <td>{{ m.mark23 }}</td>
                                        <td style="background-color: rgb(82, 107, 140);"><b>{{ m.sumMark }}</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <!-- modal form đăng xuất  -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

</div>