<div class="row">
    <!-- quản lý chức năng 1 -->

    <!-- chức năng của admin -->
    <div class="col-xl-3 col-md-6 mb-4" routerLink="/studenttopic_admin">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            QUẢN LÝ ĐỀ TÀI LUẬN VĂN</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Quản lý đề tài của sinh viên</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-user-graduate fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4" routerLink="/calender_admin">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            QUẢN LÝ LỊCH BÁO CÁO</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Quản lý lịch báo cáo sinh viên</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-users fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-3 col-md-6 mb-4" routerLink="/mark_student">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            QUẢN LÝ KẾT QUẢ</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Quản lý kết quả báo cáo của sinh viên</div>
                    </div>
                    <div class="col-auto">
                        <i class="far fa-comment-alt fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- 
    <div class="col-xl-3 col-md-6 mb-4" routerLink="/effect_dialog">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            HỘI ĐỒNG LUẬN VĂN</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Quản lý hội đồng báo cáo luận văn tốt nghiệp</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-users fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="col-xl-3 col-md-6 mb-4" routerLink="/feedback">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            QUẢN LÝ PHẢN HỒI</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">Quản lý phản hồi của sinh viên về hệ thống</div>
                    </div>
                    <div class="col-auto">
                        <i class="far fa-comment fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <router-outlet></router-outlet>
</div>


<!-- Bootstrap core JavaScript-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="js/demo/chart-area-demo.js"></script>
<script src="js/demo/chart-pie-demo.js"></script>